.stockTicker {
  min-height: 100vh;
}

.dashboard {
  min-width: 20vw;
  height: 100%;
  background: black;
  color: white;
  padding: 2em;
}

.dashboard > .form {
  width: 70%;
}

.pusher {
  min-height: 100vh;
  padding: 3em;
}

.quoteHeader {
  min-height: 20vh;
}

.table {
  min-width: 300px;
  max-width: 500px;
}
